<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Your awesome title</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="http://yourdomain.com/questions.html">
  <link rel="alternate" type="application/rss+xml" title="Your awesome title" href="http://yourdomain.com/feed.xml">
  <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:100,400,700,300' rel='stylesheet' type='text/css'>

</head>


  <body>
    <header class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img class="brand "alt="Brand" src="img/logo-resultados-digitais.svg">
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>


        <div ng-app="myApp" ng-controller="QuestionsController" ng-cloak ng-init="Init()">
  <div ng-repeat="question in QuestionsObj.Questions" ng-if="CurrentQuestion == $index">
    <div class="container-fluid" id="question">
      <div class="container">
        <div class="box-question">
          <div class="tag">[[question.Category]]<span>[[question.Id]]</span></div>
          <p ng-bind="question.Question"></p>
        </div>
      </div>
    </div>
    <div id="progressiveBar">
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="[[Percent]]" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': Percent}">
          <span class="sr-only">[[Percent]] Complete</span>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="alternative">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div ng-repeat="alternative in question.Alternatives" class="radio">
                <input type="radio" ng-value="alternative.Id" name="question_[[$parent.$index]]" id="[[$parent.$index]]_[[$index]]" ng-model="question.Answer"><label class="checkbox-inline" for="[[$parent.$index]]_[[$index]]">[[alternative.Alternative]]</label>
              </div>
              <button type="button" class="btn btn-success" ng-disabled="question.Answer == ''" ng-show="$index + 1 < QuestionsObj.Questions.length" ng-click="NextQuestion()">Próxima pergunta</button>
              <button type="button" class="btn btn-success" ng-disabled="question.Answer == ''" ng-hide="$index + 1 < QuestionsObj.Questions.length" ng-click="Finish()">Finalizar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <footer>
  <!-- include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- include Angular -->
<script type="text/javascript" src="js/angular/angular.min.js"></script>
<script type="text/javascript" src="js/angular/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/angular/angular-animate.min.js"></script>

<!-- include jQuery UI -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<!-- include bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/draggableTabs.js"></script>

<script type="text/javascript" src="js/copyTarget.js"></script>

<script type="text/javascript" src="js/btnFixed.js"></script>

<script>
  $(document).ready(function() {
    $('.draggable-container ul li:last-child a').on('shown.bs.tab', function (e) {
      $( "div.draggable-container" ).removeClass( "mask" );
    })
    $('.draggable-container ul li:last-child a').on('hidden.bs.tab', function (e) {
      $( "div.draggable-container" ).addClass( "mask" );
    })
  });
</script>
  <script type="text/javascript" src="js/angular/app/app.js"></script>
<script type="text/javascript" src="js/angular/app/QuestionsValue.js"></script>
<script type="text/javascript" src="js/angular/app/services/QuestionsService.js"></script>
<script type="text/javascript" src="js/angular/app/services/RdStationIntegrationService.js"></script>
<script type="text/javascript" src="js/angular/app/services/LeadService.js"></script>
<script type="text/javascript" src="js/angular/app/questions/QuestionsController.js"></script>
</footer>


  </body>

</html>
